@import "tailwindcss";

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.4s forwards ease-in-out;
  }

  .animate-fadeOut {
    animation: fadeOut 0.4s forwards ease-in-out;
  }

  .animate-shimmering {
    animation: loading 1.5s infinite ease-in-out;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(200%);
  }
}
